<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whisp - Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', path='login.css') }}">
    <script>
        function togglePasswordVisibility() {
            const passwordField = document.getElementById('password');
            const toggleIcon = document.getElementById('toggle-password');
            if (passwordField.type === "password") {
                passwordField.type = "text";
                toggleIcon.textContent = "🙈";
            } else {
                passwordField.type = "password";
                toggleIcon.textContent = "👀";
            }
        }
    </script>
</head>
<body>
    <div class="login-container">
        <h2>Whisp - Connexion</h2>
        <form action="/login" method="post">
            <input type="text" id="username" name="username" placeholder="Nom d'utilisateur" required>
            <div class="password-container">
                <input type="password" id="password" name="password" placeholder="Mot de passe" required>
                <span id="toggle-password" class="toggle-password" onclick="togglePasswordVisibility()">👀</span>
            </div>
            <button type="submit">Se connecter</button>
        </form>
        <form action="/register" method="get"><button type="submit">Créer un compte</button></form>
    </div>
</body>
</html>
