<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whisp - Inscription</title>
    <link rel="stylesheet" href="{{ url_for('static', path='register.css') }}">
    <script>
        function togglePasswordVisibility(id, iconId) {
            const passwordField = document.getElementById(id);
            const toggleIcon = document.getElementById(iconId);
            if (passwordField.type === "password") {
                passwordField.type = "text";
                toggleIcon.textContent = "🙈";
            } else {
                passwordField.type = "password";
                toggleIcon.textContent = "👀";
            }
        }
    </script>
</head>
<body>
    <div class="register-container">
        <h2>Whisp - Inscription</h2>
        <form action="/register" method="post">
            <input type="text" id="username" name="username" placeholder="Nom d'utilisateur" required>
            <div class="password-container">
                <input type="password" id="password" name="password" placeholder="Mot de passe" required>
                <span id="toggle-password" class="toggle-password" onclick="togglePasswordVisibility('password', 'toggle-password')">👀</span>
            </div>
            <div class="password-container">
                <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirmer le mot de passe" required>
                <span id="toggle-confirmpassword" class="toggle-password" onclick="togglePasswordVisibility('confirmpassword', 'toggle-confirmpassword')">👀</span>
            </div>
            <button type="submit">S'inscrire</button>
        </form>
        <form action="/" method="get"><button type="submit">Déjà un compte ? Se connecter</button></form>        
    </div>
</body>
</html>
